
.projects-container {
    overflow-x: auto;
    width: 80%; 
    margin: 2% auto; 
    height: 60vh; 
}


.projects-wrapper {
    display: flex; 
    height: 100%; 
}


.project-item {
    position: relative; 
    flex: 0 0 auto; 
    margin-right: 20px; 
    overflow: hidden; 
    height: 100%; 
}


.project-item img {
    width: auto; 
    height: 100%; 
    display: block; 
    position: relative; 
}


.project-item img.display-image {
    opacity: 1; 
}

.project-item img.hover-image {
    opacity: 0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    transition: opacity 0.5s ease; 
}


.project-item img.hover-image::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}


.project-item:hover img.hover-image {
    opacity: 1; 
}


.project-item:hover img.display-image {
    opacity: 0; 
}

.project-details {
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    color: #E3E2DD; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
    font-size: 12px; 
    text-align: left; 
    margin-right: 60%;
}



.project-item:hover .project-details {
    opacity: 1; 
}


.project-icons {
    display: flex; 
    justify-content:space-evenly; 
    margin-top: 10px; 
}


.project-item img.hover-image {
    opacity: 0; 
    position: absolute; 
    top: -100%; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    transition: opacity 0.5s ease, top 0.5s ease; 
}


.project-item:hover img.hover-image {
    opacity: 1; 
    top: 0; 
}


.project-details {
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    color: #E3E2DD; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
    font-size: 12px; 
    text-align: left; 
    z-index: 2; 
    font-family: "Raleway", sans-serif;

}


.github{
    margin-top: 2%;
    color: inherit; 
    text-decoration: none; 

    font-size: medium;
    
}
.github:hover {
    text-decoration: underline; 
}



@media screen and (max-width: 500px) {
    .project-item {
        width: 100%;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
    }

    .project-item img {
        max-width:fit-content; 
    }

    .project-details {
        width: 50%; 
        margin-left: 5px;
    }

    .project-icons {
        width: 50%; 
    }
}
  