.projects-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 80%; /* Take up full width */
    margin: 2% auto; /* Center horizontally */
    height: 60vh;
}

.projects-wrapper {
    display: flex; /* Use flexbox for layout */
    height: 100%;
}

.project-item {
    position: relative;
    flex: 0 0 auto;
    margin-right: 20px;
    overflow: hidden; /* Ensure overlay doesn't overflow */
}

.project-item img {
    width: auto;
    height: 100%;
    display: block;
    transition: transform 0.3s; /* Add a smooth transition for image transform */
}

.project-details {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 1; /* Ensure the text overlay appears above the image */
}

.project-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    rgb()
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s; /* Smooth transition */
}

.project-item:hover::before {
    opacity: 0; /* Make overlay invisible on hover */
}



