/* Tabs.css */
.custom-nav {
    display: flex;
    flex-direction: column; /* Display children in a column */
    align-items: center; /* Center items horizontally */
    width: 100%; /* Take up full width */
    margin-top: 15px;
}

.custom-nav-link {
    position: relative;
    text-decoration: none;
    color: #3e4536 !important; 
    font-family: "Raleway", sans-serif;
    
}

.custom-nav-link.active::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #71766a; 
    border-radius: 50%; 
    bottom: 35px; 
    left: 50%;
    transform: translateX(-50%);
}

/* Change color on hover */
.custom-nav-link:hover {
    color: #82857a !important; /* Change to your desired color */
}

.content-section {
    width: 100%; /* Take up full width */


}
