body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
     
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: blue;

}

.pulse {
    font-style: italic;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse-color-change 2s infinite; 
    display: inline-block;
}

@keyframes pulse-color-change {
    0%, 100% {
        transform: scale(0.95);
        color: #3E4536;
    }
    50% {
        transform: scale(1);
        color: #808479;
    }
}


