body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body covers the viewport height */
    margin: 0; /* Remove default margin */
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #3E4536;
    background-color: #E3E2DD;
}

.pulse {
    font-style: italic;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse-color-change 3s infinite; /* Combined animation */
    display: inline-block;
}

@keyframes pulse-color-change {
    0%, 100% {
        transform: scale(0.95);
        color: red;
    }
    50% {
        transform: scale(1);
        color: blue;
    }
}
