body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style:normal;
}
