.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: auto;
    margin-top: 5px;
}

.resume-container iframe {
    width: 100%;
    max-width: 1400px; 
}

.download-button {
    margin-bottom: 10px;
}
