.logo img {
    width: 200px;
    position: fixed; 
    top: 0;
    left: 0;
    margin: 50px; 
}

@media screen and (max-width: 400px) {
    .logo img {
        width: 150px; 
        margin: 20px; 
    }
}