.logo{
height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 margin: 10px;
 
}

.logo img {
    width: 300px;
 
}

@media screen and (max-width: 450px) {
    .logo img {
        width: 200px; 
        margin: 10px; 
    }
}